<a href="https://colab.research.google.com/github/dhanakakani/Dhana_INFO5502_Spring2022/blob/master/lab_assignment_01_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [39]:
# write your answer here
dictionary={}
a=input()
for i in a:
  b=dictionary.keys()
  if i in b:
    dictionary[i]+=1
  else:
    dictionary[i]=1
print(dictionary)

google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [38]:
# write your answer here
list=[12,23,34,35,46]
sum=list[0]+list[1]+list[2]+list[3]+list[4]
print(sum)

150

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [26]:
# write your answer here
a=input()
def s(string):
  b=string[0]
  string=string.replace(b,'$')
  string=b+string[1:]
  return string
print(s(a))

restart
resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [14]:
# write your answer here
a=float(input())
b=float(input())
c=1+a/b
s=3.14*c*c*c
print(s)

23
2
6132.8125

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [15]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
new_dic={**dic1,**dic2,**dic3}
print(new_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [23]:
# write your answer here
tuple=(23,12,90,34,12)
element=int(input())
if element in tuple:
  print(element,"is present in tuple")
else:
  print(element,"is not present in tuple")

23
23 is present in tuple

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [24]:
# write your answer here
from typing import Set
set1={23,56,34,98,34,56}
print(min(set1))
print(max(set1))

23
98

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [74]:
# write your answer here
from random import sample,randint
stdlist=['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def group(stdlist:list,numbers:int):
  for i in range(numbers):
    print(sample(stdlist,randint(4,6)))
numbers=6
group(stdlist,numbers)

['sc1229', 'sb1357', 'ak0934', 'jl1252', 'sa1198', 'sm1907']
['bg0320', 'kg0470', 'vb0218', 'sk1386']
['sa1198', 'sk1458', 'dr0609', 'ja0964', 'sm1640', 'sk1313']
['ds0814', 'pr0353', 'gn0108', 'nm0618', 'dr0609', 'fh0141']
['dr0609', 'ak0956', 'sc1229', 'sg1297', 'ms1500', 'aos0040']
['ak0934', 'ds0814', 'aos0040', 'bg0320']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [58]:

# write your answer here
def duplicate_number(num):
  n_set=set()
  duplicate=-1
  for i in range(len(num)):
    if num[i] in n_set:
      return num[i]
    else:
      n_set.add(num[i])
    return duplicate
print(dup([1,3,5,7,7,3,5,9]))
print(d([1,2,3,4]))

[7, 3, 5]
-1

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [69]:
# write your answer here
from datetime import date,timedelta
def sundays(year):
  #first sun in january
  d=date(year,1,1)
  d+=timedelta(days=6 - d.weekday())
  while d.year==year:
    yield d
    d+=timedelta(days = 7)
for a in sundays(2022):
  print(a)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25