<a href="https://colab.research.google.com/github/dhanakakani/Dhana_INFO5502_Spring2022/blob/master/lab_assignment_03_(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [1]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

"""
Please write you answer here:

Domain problem: 
. My domain problem is to analyze no.of ratings , for example-if 20 people gives the rating as 4 then the output should be 4(20)

Research question:
. Do EDA on the number of ratings for remote control toys in flipkart.

Data Required to answer the questions:
The following are the attributes of the required data to answer the research question
. We need the ratings class

We can gather 1000 mobiles from the following link: https://www.flipkart.com/toys/remote-control-toys/pr?sid=mgl,56m&otracker=nmenu_sub_Baby%20%26%20Kids_0_Remote%20Control%20Toys


Steps for collecting and saving the data:
. We use web scraping technique to scrape the data.
. By using BeautifulSoup library we can import data.
. There are 27 pages of remote control toys in which it contains over 20000 products and from which we will be taking 1000 samples.
. We parse through each page and print the no. of ratings 

"""

'\nPlease write you answer here:\n\nDomain problem: \n. My domain problem is to analyze no.of ratings , for example-if 20 people gives the rating as 4 then the output should be 4(20)\n\nResearch question:\n. Do EDA on the number of ratings for remote control toys in flipkart.\n\nData Required to answer the questions:\nThe following are the attributes of the required data to answer the research question\n. We need the ratings class\n\nWe can gather 1000 mobiles from the following link: https://www.flipkart.com/toys/remote-control-toys/pr?sid=mgl,56m&otracker=nmenu_sub_Baby%20%26%20Kids_0_Remote%20Control%20Toys\n\n\nSteps for collecting and saving the data:\n. We use web scraping technique to scrape the data.\n. By using BeautifulSoup library we can import data.\n. There are 27 pages of remote control toys in which it contains over 20000 products and from which we will be taking 1000 samples.\n. We parse through each page and print the no. of ratings \n\n'

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [2]:
from bs4 import BeautifulSoup
import urllib
from urllib.request import Request, urlopen
from urllib.error import HTTPError
import json
import re

c = 0

Reviews_toy = []
#taking the main URL
url = "https://www.flipkart.com/toys/remote-control-toys/pr?sid=mgl,56m&otracker=nmenu_sub_Baby%20%26%20Kids_0_Remote%20Control%20Toys={}"
#initializing for loop 
for page_num in range(1, 100):
    #data soup of the main url page html elements.
    link = Request(url.format(page_num), headers={'User-Agent': 'Mozilla/5.0'})
    url1 = urllib.request.urlopen(link)
    data1 = url1.read()
    data2 = BeautifulSoup(data1)
    print("* Page {} *".format(page_num))
    for class_link in data2.find_all('div', attrs = {'class': "gUuXy- _2D5lwg"}):
        Reviews_toy.append(class_link.text)
        c = c + 1
        if c == 1000:
            break
            
    print(c)
    if c == 1000:
        break
    
print(Reviews_toy)

* Page 1 *
37
* Page 2 *
74
* Page 3 *
111
* Page 4 *
148
* Page 5 *
185
* Page 6 *
222
* Page 7 *
259
* Page 8 *
296
* Page 9 *
333
* Page 10 *
370
* Page 11 *
407
* Page 12 *
444
* Page 13 *
481
* Page 14 *
518
* Page 15 *
555
* Page 16 *
592
* Page 17 *
629
* Page 18 *
666
* Page 19 *
703
* Page 20 *
740
* Page 21 *
777
* Page 22 *
814
* Page 23 *
851
* Page 24 *
888
* Page 25 *
925
* Page 26 *
962
* Page 27 *
999
* Page 28 *
1000
['4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '4(3,830)', '2.3(3)', '3.5(168)', '2.9(8)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.6(3,662)', '3.4(32)', '3.7(252)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(661)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '4(3,830)', '3.5(168)', '3.8(931)', '2.3(3)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.8(5)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.4(32)', '3.5(3,320)', '4(5)', '4.3(782)', '3.5(99)', '3.9(45,167)', '4(11,887)', '3.7(256)', '4(10)', '3.3(15,892)', '3.8(20)', '3.5(296)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2.9(21)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '3.4(197)', '4.1(11)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '3.8(5)', '4(3,830)', '3.5(168)', '3.8(931)', '4(10)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '2.3(3)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '2(5)', '3.5(3,320)', '4(5)', '4.3(782)', '3.4(32)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.5(99)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(196)', '3.3(41)', '4(3,765)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '3.6(5)', '2.3(3)', '4(3,830)', '3.5(164)', '3.8(931)', '3.5(4)', '3.5(2,585)', '3.2(5,281)', '3.7(247)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,135)', '4(11,887)', '3.7(256)', '3.3(15,872)', '3.8(20)', '3.5(292)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(196)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '3.6(5)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,021)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.8(931)', '3.8(5)', '3.5(2,585)', '3.2(5,285)', '3.7(252)', '3.4(32)', '3.6(3,662)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4(5)', '4.3(782)', '4(10)', '3.9(45,167)', '4(11,887)', '3.7(256)', '3.3(15,892)', '3.8(20)', '3.5(296)', '2.9(21)', '3.7(4,896)', '3.2(149)', '3.7(371)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.7(252)', '3.6(3,662)', '3.4(32)', '3.8(931)', '3.9(3,024)', '4(1,764)', '3.5(99)', '3.5(3,320)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)', '3.4(197)', '3.3(41)', '4(3,775)', '3.3(22,672)', '3.9(22,829)', '3.5(13,253)', '3.9(45,167)', '2.9(8)', '2.3(3)', '4(3,830)', '3.5(168)', '3.5(2,585)', '3.8(5)', '3.2(5,285)', '3.6(3,662)', '3.7(252)', '3.4(32)', '3.8(931)', '3.9(3,024)', '3.5(3,320)', '3.5(99)', '4(1,764)', '4.3(782)', '3.9(45,167)', '4(10)', '4(11,887)', '3.7(256)', '3.7(4,896)', '4(5)', '3.3(15,892)', '3.8(20)', '2.9(21)', '4.2(480)', '3.7(371)', '3.3(66)', '2(5)', '4.1(11)']

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data.

In [3]:
"""
-> I considered data set from Kaggle website.
Dataset:
. Link: https://www.kaggle.com/qusaybtoush1990/city-of-baltimore-crime-data
. There are 12 data columns in the dataset.
. The target column is 12 data columns 

Crime Date

Crime Time

Crime Code

Location

Description

Inside/Outside

Weapon Post

District

Neighborhood

Location 1

Total Incidents

Steps to Clean the Text classification data:
. Removethe duplicate or irrelevant observations
. Fix structural errors
. Filter unwanted outliers
. Handle missing data
. Validate data accuracy
. Perform stemming and Lemmatization
. Remove unicode characters. 

"""

'\n-> I considered data set from Kaggle website.\nDataset:\n. Link: https://www.kaggle.com/qusaybtoush1990/city-of-baltimore-crime-data\n. There are 12 data columns in the dataset.\n. The target column is 12 data columns \n\nCrime Date\n\nCrime Time\n\nCrime Code\n\nLocation\n\nDescription\n\nInside/Outside\n\nWeapon Post\n\nDistrict\n\nNeighborhood\n\nLocation 1\n\nTotal Incidents\n\nSteps to Clean the Text classification data:\n. Removethe duplicate or irrelevant observations\n. Fix structural errors\n. Filter unwanted outliers\n. Handle missing data\n. Validate data accuracy\n. Perform stemming and Lemmatization\n. Remove unicode characters. \n\n'

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)

In [12]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [31]:
df.columns

Index([], dtype='object')

In [43]:
import glob
import requests
from bs4 import BeautifulSoup
import numpy as np
import time
import pandas as pd
import csv
#unzip the dataset
!unzip /content/sample_data/datasets.zip
result_df =  pd.DataFrame()
#initializing for loop for dataset
for dataset in ['TwADR-L', 'AskAPatient']:
    result = {}
    df = pd.DataFrame()
    for filepath in glob.glob('/content/gdrive/My Drive/datasets (1)/datasets/{}/*.txt'.format(dataset)):
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        #appending data
        df = df.append(data)
    df = df.reset_index(drop=True)
    df['phrase_label'] = df[1] + " " + df[2]
    df.columns = ['id', 'labels', 'phrases', 'phrase-label']
    df = df.astype({"id": str})
    for columns in df.columns:
        df[columns] = df[columns].str.lower() 
    df = df.drop_duplicates('phrase-label')
    result['Unique_phrases'] = str(len(df['phrases'].unique()))
    result['Unique_labels'] = str(len(df['labels'].unique()))
    result['Unique_phrase_label_pairs'] = str(df.shape[0])
    df1 = pd.DataFrame(df['phrases'].value_counts())
    result['Phrases with multiple labels'] = str(df1[df1['phrases'] > 1].shape[0])
    result['Min examples per label'] = str(df['labels'].value_counts().values.min())
    result['Max examples per label'] = str(df['labels'].value_counts().values.max())
    result['Avg examples per label'] = round(df['labels'].value_counts().mean(),2)
    result_df = result_df.append(result, ignore_index=True)
result_df = result_df.T   
result_df.columns = ['TwADR-L', 'AskAPatient']
result_df

unzip:  cannot find or open /content/sample_data/datasets.zip, /content/sample_data/datasets.zip.zip or /content/sample_data/datasets.zip.ZIP.

                             TwADR-L AskAPatient
Unique_phrases                  2944        4470
Unique_labels                   2220        1038
Unique_phrase_label_pairs       3157        4507
Phrases with multiple labels     173          35
Min examples per label             1           1
Max examples per label            36         141
Avg examples per label          1.42        4.34

In [41]:
import pandas as pd
import glob
output_data_frame =  pd.DataFrame()

# There are two datasets so we have to iterate through both of them 
for dataset in ['TwADR-L', 'AskAPatient']:
    output = {}
    data_frame = pd.DataFrame()
    for filepath in glob.glob('/content/gdrive/My Drive/datasets (1)/datasets/{}/*.txt'.format(dataset)): #datasets are present in our google drive
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape') #read the datasets
        data_frame = data_frame.append(data)

    #combine all the text files present in the dataset and form a combined dataset
    data_frame = data_frame.reset_index(drop=True)

    data_frame['phrase_label'] = data_frame[1] + " " + data_frame[2]

    data_frame.columns = ['id', 'labels', 'phrases', 'phrase-label']
    #convert to strings
    data_frame = data_frame.astype({"id": str})
    # there are some uppercase letters lets convert them all to lower case
    for columns in data_frame.columns:
        data_frame[columns] = data_frame[columns].str.lower() 

    # clean the data by dropping the duplicates
    data_frame = data_frame.drop_duplicates('phrase-label')

    #Let's store the table values in dictionaries
    output['Unique_phrases'] = len(data_frame['phrases'].unique())
    output['Unique_labels'] = len(data_frame['labels'].unique())
    output['Unique_phrase_label_pairs'] = data_frame.shape[0]
    data_frame1 = pd.DataFrame(data_frame['phrases'].value_counts())
    output['Phrases with multiple labels'] = data_frame1[data_frame1['phrases'] > 1].shape[0]
    output['Min examples per label'] = data_frame['labels'].value_counts().values.min()
    output['Max examples per label'] = data_frame['labels'].value_counts().values.max()
    output['Avg examples per label'] = round(data_frame['labels'].value_counts().mean(), 2)
    output_data_frame = output_data_frame.append(output, ignore_index=True)


output_data_frame = output_data_frame.T
output_data_frame = output_data_frame.astype({0: int, 1: int})
output_data_frame.columns = ['TwADR-L', 'AskAPatient']

print(output_data_frame)

                              TwADR-L  AskAPatient
Unique_phrases                   2944         4470
Unique_labels                    2220         1038
Unique_phrase_label_pairs        3157         4507
Phrases with multiple labels      173           35
Min examples per label              1            1
Max examples per label             36          141
Avg examples per label              1            4

In [44]:
import glob
import requests
from bs4 import BeautifulSoup
import numpy as np
import time
import pandas as pd
import csv
!unzip /content/sample_data/datasets.zip
result_df = pd.DataFrame()
# we iterate through both datasets 
for dataset in ['TwADR-L', 'AskAPatient']:
    df = pd.DataFrame()
    result = {}
    for filepath in glob.glob('/content/gdrive/My Drive/datasets (1)/datasets/{}/*.txt'.format(dataset)):
        #print(filepath)
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df = df.append(data)
    # we create combined dataframe by combining Each dataset text files.
    df = df.reset_index(drop=True)
    df['phrase_label'] = df[1] + " " + df[2]
    df.columns = ['id', 'labels', 'phrases', 'phrase-label']
    #print(df.shape)
    df = df.astype({"id": str})
    # converting to lower case
    for columns in df.columns:
        df[columns] = df[columns].str.lower() 

    # we drop duplicates that are phrase-label pairs... 
    df = df.drop_duplicates('phrase-label')

    index_list = []
    for i in range(df.shape[0]):
        if df['labels'].value_counts()[df.iloc[i]['labels']] < 5:
            index_list.append(i)

    # we drop the labels that have less than count of 5.
    df.drop(df.index[index_list], inplace=True)
    result = {}

    if dataset == 'TwADR-L':
      Twt_df = df
    else:
      Ask_df = df
 
    # storing results of the table in dictionary
    result['Unique_phrases'] = str(len(df['phrases'].unique()))
    result['Unique_labels'] = str(len(df['labels'].unique()))
    result['Unique_phrase_label_pairs'] = str(df.shape[0])
    df1 = pd.DataFrame(df['phrases'].value_counts())
    result['Phrases with multiple labels'] = str(df1[df1['phrases'] > 1].shape[0])
    result['Min examples per label'] = str(df['labels'].value_counts().values.min())
    result['Max examples per label'] = str(df['labels'].value_counts().values.max())
    result['Avg examples per label'] = round(df['labels'].value_counts().mean(), 2)
    # appending dictinary to dataframe
    result_df = result_df.append(result, ignore_index=True)

result_df = result_df.T
result_df.columns = ['TwADR-L', 'AskAPatient']


result_df

unzip:  cannot find or open /content/sample_data/datasets.zip, /content/sample_data/datasets.zip.zip or /content/sample_data/datasets.zip.ZIP.

                             TwADR-L AskAPatient
Unique_phrases                   616        2665
Unique_labels                     76         233
Unique_phrase_label_pairs        721        2686
Phrases with multiple labels      87          19
Min examples per label             5           5
Max examples per label            36         141
Avg examples per label          9.49       11.53